<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="<%= venderCSS %>" rel=stylesheet>
    <link href="<%= indexCSS %>" rel=stylesheet>
</head>

<body>
    <h1><%= title %></h1>
    <ul>
        <li><a href='/blog'>blog</a></li>
        <li><a href='/game'>game</a></li>
        <li><a href='/spa1'>SPA1</a></li>
        <li><a href='/spa2'>SPA2</a></li>
    </ul>
    <div id="app">
        <script type="text/javascript" src="<%= runtime %>"></script>
        <script type="text/javascript" src="<%= venderJs %>"></script>
        <script type="text/javascript" src="<%= indexJS %>"></script>
    </div>
</body>

</html>